###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
**/Plugins/**
**/TextMesh Pro/**
**/ProCore/**
**/*.*.meta
**/*.meta
witchwarsstats.xlsx

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Witch Wars!/ProjectSettings/AudioManager.asset
Witch Wars!/ProjectSettings/ClusterInputManager.asset
Witch Wars!/ProjectSettings/DynamicsManager.asset
Witch Wars!/ProjectSettings/EditorBuildSettings.asset
Witch Wars!/ProjectSettings/EditorSettings.asset
Witch Wars!/ProjectSettings/GraphicsSettings.asset
Witch Wars!/ProjectSettings/InputManager.asset
Witch Wars!/ProjectSettings/NavMeshAreas.asset
Witch Wars!/ProjectSettings/NetworkManager.asset
Witch Wars!/ProjectSettings/Physics2DSettings.asset
Witch Wars!/ProjectSettings/ProjectSettings.asset
Witch Wars!/ProjectSettings/ProjectVersion.txt
Witch Wars!/ProjectSettings/QualitySettings.asset
Witch Wars!/ProjectSettings/TagManager.asset
Witch Wars!/ProjectSettings/TimeManager.asset
Witch Wars!/ProjectSettings/UnityConnectSettings.asset
Witch Wars!/UnityPackageManager/manifest.json
